<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835465547069-sqo1981vimvmein9pqjqd2e5b4uak350.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835465547069-sqo1981vimvmein9pqjqd2e5b4uak350</string>
	<key>API_KEY</key>
	<string>AIzaSyA0AYY8cKOPYhPsnoWswgbnkHik0YbfVek</string>
	<key>GCM_SENDER_ID</key>
	<string>835465547069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snakegame.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>snakegame-ad5ed</string>
	<key>STORAGE_BUCKET</key>
	<string>snakegame-ad5ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835465547069:ios:df6ded0a4c03242e210954</string>
</dict>
</plist>